html {
    box-sizing: border-box;
    font-style: 100%;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: rem(12) rem(23);
}

h1, 
h2, 
h3 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

p {
    margin-top: 0;
}

a, 
a:visited, 
a:active {
    text-decoration: none;
}
