html {
  box-sizing: border-box;
  font-style: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
}

p {
  text-decoration: none;
  color: var(--text-color);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:last-of-type {
  margin-bottom: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hide-on-phone {
  display: none;

  @include breakpoint(medium) {
    display: inline;
  }
}

.show-on-phone {
  display: inline;

  @include breakpoint(medium) {
    display: none;
  }
}

.hidden {
  display: none;
}
